- var init=locals.user? "user=" + "'" + locals.user.email + "'": "user=undefined"
ul.nav.navbar-nav.navbar-right(ng-show="user")
    li
        li.dropdown
            a(href='/logout')
                | {{user}} (Logout)
                if (locals.user && locals.user.isProfessor)
                    = __('Teacher Mode')
form.navbar-form.navbar-right(role="form",action="/auth/linkedin",method="get",ng-init="#{init}")
    button.btn.btn-success(type="submit",ng-hide="user")=__('Sign in')
